In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('leicester_city_twitter_data_5k.csv')
#df=pd.read_csv('leicester_city_twitter_data_10k.csv')
#df=pd.read_csv('leicester_city_twitter_data_20k.csv')
df.head()

,Unnamed: 0,Date_time,Tweet_id,Text,User_name
0,0,2023-02-23 21:28:19+00:00,1.628870e+18,"@Leicester_News Wasted Â£600k on this, not to m...",Funkyrob0t
1,1,2023-02-23 21:10:12+00:00,1.628860e+18,@rideonleicester How much has leicester city c...,Funkyrob0t
2,2,2023-02-23 20:50:39+00:00,1.628860e+18,"Another day, another completed SuDS project in...",WildscapesCoop
3,3,2023-02-23 16:41:13+00:00,1.628800e+18,This Council recognises Samworth Brotherâ€™s par...,Union4Samworths
4,4,2023-02-23 16:39:50+00:00,1.628800e+18,Incredible story from @HRichardsonLDR. Leicest...,CoreyBJourno

In [3]:
df.drop(['Unnamed: 0','Date_time','Tweet_id','User_name'],axis=1,inplace=True)

In [4]:
df.head()

                                                Text
0  @Leicester_News Wasted Â£600k on this, not to m...
1  @rideonleicester How much has leicester city c...
2  Another day, another completed SuDS project in...
3  This Council recognises Samworth Brotherâ€™s par...
4  Incredible story from @HRichardsonLDR. Leicest...

In [5]:
!pip3 install --upgrade vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.10/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from vaderSentiment) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (3.4)

In [6]:
import nltk
nltk.download(['stopwords'])#(['punkt','stopwords'])
from nltk.corpus import stopwords
stopwords = stopwords.words('english')

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
df.isnull().sum()

Text    0
dtype: int64

In [8]:
df['tweet_cleaned'] = df['Text'].apply(lambda x: ' '.join([item for item in x.split() if item not in stopwords]))

In [9]:
df.sample(6)

,Text,tweet_cleaned
3926,@JonAshworth I'm one of your constituents and ...,@JonAshworth I'm one constituents I know alway...
4017,@smiffy9471 @Marisol04326417 Why didnâ€™t the Co...,@smiffy9471 @Marisol04326417 Why didnâ€™t Counci...
3470,Leicester city council: No fines for parents w...,Leicester city council: No fines parents conce...
1966,@LaraOyedele Reminiscent of Leicester City Cou...,@LaraOyedele Reminiscent Leicester City Counci...
3059,Project Coordinator â€“ CURE Smoking Cessation\n...,Project Coordinator â€“ CURE Smoking Cessation L...
1423,We're really proud to support Leicester City C...,We're really proud support Leicester City Coun...

In [10]:
df['Sentiment_score'] = df['tweet_cleaned'].apply(lambda x: analyzer.polarity_scores(x)['compound'])

In [11]:
df.head()

,Text,tweet_cleaned,Sentiment_score
0,"@Leicester_News Wasted Â£600k on this, not to m...","@Leicester_News Wasted Â£600k this, mention con...",-0.7964
1,@rideonleicester How much has leicester city c...,@rideonleicester How much leicester city counc...,-0.5411
2,"Another day, another completed SuDS project in...","Another day, another completed SuDS project Le...",0.2960
3,This Council recognises Samworth Brotherâ€™s par...,This Council recognises Samworth Brotherâ€™s par...,-0.5859
4,Incredible story from @HRichardsonLDR. Leicest...,Incredible story @HRichardsonLDR. Leicester Ci...,0.0000

In [12]:
df.sample(5)

,Text,tweet_cleaned,Sentiment_score
161,Great Moment of pride for the\nModel state ðŸ”¥\n...,Great Moment pride Model state ðŸ”¥ A signboard L...,0.4588
1533,â€¢Dumfries &amp; Galloway\nâ€¢Eilean Siar\nâ€¢Gates...,â€¢Dumfries &amp; Galloway â€¢Eilean Siar â€¢Gateshe...,0.0000
1705,.@LCFC has submitted its hybrid planning appli...,.@LCFC submitted hybrid planning application L...,0.0000
1275,The city council is calling on Leicester resid...,The city council calling Leicester residents s...,0.5859
1887,How amazing is this?! The snakes and ladders a...,How amazing this?! The snakes ladders artwork ...,0.8820

In [13]:
def sentiment_class(sent_score):
  if sent_score>=0.05:
    sent_class=int(1)
  elif -0.05<sent_score<0.05:
    sent_class=int(0)
  else:
    sent_class=int(-1)
  
  return(sent_class)

In [14]:
df['Sentiment_class']= df['Sentiment_score'].apply(sentiment_class)

In [15]:
df.head()

,Text,tweet_cleaned,Sentiment_score,Sentiment_class
0,"@Leicester_News Wasted Â£600k on this, not to m...","@Leicester_News Wasted Â£600k this, mention con...",-0.7964,-1
1,@rideonleicester How much has leicester city c...,@rideonleicester How much leicester city counc...,-0.5411,-1
2,"Another day, another completed SuDS project in...","Another day, another completed SuDS project Le...",0.2960,1
3,This Council recognises Samworth Brotherâ€™s par...,This Council recognises Samworth Brotherâ€™s par...,-0.5859,-1
4,Incredible story from @HRichardsonLDR. Leicest...,Incredible story @HRichardsonLDR. Leicester Ci...,0.0000,0

In [16]:
df.sample(6)

,Text,tweet_cleaned,Sentiment_score,Sentiment_class
4744,Great session with my 2 new clients Amy and Ki...,Great session 2 new clients Amy Kieron. Both s...,0.7906,1
676,More than Â£8m generated for Leicester City Cou...,More Â£8m generated Leicester City Council last...,0.0000,0
471,@nigel73200304 Big up the Coalville United. Th...,@nigel73200304 Big Coalville United. They woul...,0.4215,1
1756,@Leicester_News https://t.co/nG3GuEh2Gm\n\nWor...,@Leicester_News https://t.co/nG3GuEh2Gm Worth ...,0.0772,1
1971,@GBNEWS I never knew Leicester City Council ma...,@GBNEWS I never knew Leicester City Council ma...,0.0000,0
497,@leicslive The building and relocation of mark...,@leicslive The building relocation market kill...,-0.6908,-1